@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@700&family=Manrope:wght@400;600;700&display=swap");

/* font-family: 'Handjet', sans-serif;
font-family: 'Manrope', sans-serif; */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: #fff;
  background-color: #1a0202;
}

.active_popup {
  display: block;
}

.tac {
  max-width: 1420px;
  margin: 0 auto;
}

.tak_wrapper {
  max-width: 90%;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  margin-bottom: 95px;
  margin-top: 0;
}

.tak_paragraph {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  margin-top: 40px;
}

.header {
  padding-top: 56px;
  background-image: url("./img/header_bg.png");
  color: #fff;
  height: 534px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header_two {
  padding-top: 56px;
  color: #fff;
}

.header_wrapper {
  align-items: center;
  flex-direction: column;
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  position: relative;
  height: 100%;
  text-align: center;
}

.header_hero-img {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 100%;
  z-index: 0;
}

.header_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
  width: 100%;
}

.header_logo {
  width: 100%;
  height: auto;
  max-width: 85px;
}

.header_tabs {
  display: flex;
  gap: 63px;
}

.header_tab {
  font-family: Manrope;
  font-size: 24px;
  font-weight: 700;
}

.header_container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header_logo {
  width: 64px;
  height: 34px;
}

.header_site-name {
  margin: 0;
  font-family: Manrope;
  font-size: 24px;
  font-weight: 700;
}

.header_heading {
  font-family: Handjet;
  font-size: 48px;
  margin: 0;
  max-width: 744px;
  z-index: 2;
}

.header_paragraph {
  font-family: Manrope;
  font-size: 32px;
  margin-bottom: 45px;
  margin-top: 20px;
  max-width: 1044px;
  position: relative;
  z-index: 2;
  text-shadow: 1px 1px #000000;
}

.header_button {
  font-family: Manrope;
  cursor: pointer;
  font-size: 20px;
  font-weight: 900;
  background: linear-gradient(180deg, #58b9ff 0%, #1778f0 100%);
  width: 196px;
  height: 55px;
  color: #fff;
  border: none;
}

.header_button:hover {
  opacity: 0.8;
}

.main {
  padding-top: 70px;
}

.main_wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

.main_title {
  font-family: Handjet;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 25px;
}

.main_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 25px;
  column-gap: 25px;
}

.grid_card {
  max-width: 415px;
  max-height: 372px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid_card-img {
  width: 100%;
}

.grid_card-button {
  margin-top: 21px;
  cursor: pointer;
  width: 196px;
  height: 55px;
  color: #66b4fb;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 700;
  text-decoration-line: underline;
  background-color: #00000000;
  border: none;
}

.grid_card-button:hover {
  opacity: 0.8;
}

.main_paragraph {
  font-family: Manrope;
  font-size: 24px;
  font-weight: 400;
  max-width: 636px;
  line-height: 140%;
}

.main_about {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}

.main_about-img {
  object-fit: contain;
  width: 40%;
}

.main_bullets {
  padding-top: 95px;
  padding-bottom: 55px;
  display: flex;
  margin: 0 auto;
}

.main_bullet {
  display: flex;
  align-items: center;
  margin-right: 24px;
  gap: 20px;
}

.bullet_column {
  display: flex;
  margin: 0;
}

.main_bullet-img {
  width: 112px;
  height: 112px;
}

.main_bullet-title {
  margin-top: 24px;
  text-align: left;
  font-family: Manrope;
  font-size: 28px;
  font-weight: 700;
  max-width: 189px;
}

.footer {
  background-color: #1a0202;
  height: 276px;
  padding-top: 53px;
  border-top: 1px solid #602e2e;
}

.footer_wrapper {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.footer_content {
  max-width: 996px;
}

.footer_text {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 700;
}

.footer_link {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0;
  opacity: 0.6;
}

.footer_links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.footer_text_content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer_icon {
  width: 104px;
  height: 56px;
  order: 2;
}

.link {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.link:hover {
  opacity: 0.8;
}

.game_popup {
  position: fixed;
  background-color: #7070706e;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  top: 0;
  display: none;
}
.game_iframe {
  margin-top: 15vh;
  height: 70%;
  max-width: 70vw;
  margin-left: 15vw;
  border-radius: 20px;
  border: #ffffff solid 8px;
  background-color: #ffffff;
}

@media (max-width: 1155px) {
  .bullet_column {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .header {
    padding-left: 12px;
    padding-right: 12px;
  }

  .game_iframe {
    max-width: 90vw;
    margin-left: 3vw;
  }

  .header_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header_menu {
    width: 100%;
  }

  .header_tabs {
    gap: 31px;
  }

  .header_tab {
    font-size: 12px;
    text-align: center;
  }

  .header_logo {
    width: 32px;
    height: 17px;
  }

  .header_site-name {
    margin: 0;
    font-family: Manrope;
    font-size: 12px;
    font-weight: 700;
  }

  .header_heading {
    font-size: 24px;
    text-align: center;
  }

  .header_paragraph {
    font-size: 20px;
    text-align: center;
  }

  .header_hero-img {
    bottom: 0;
  }

  .main_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 25px;
    column-gap: 25px;
  }

  .header_button {
    position: relative;
    z-index: 2;
    margin: 0 auto;
  }

  .bullet_column {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .main_bullets {
    justify-content: space-between;
    padding: 30px;
    margin-top: 50px;
  }

  .main_bullet-img {
    width: 67px;
    height: auto;
  }

  .main_bullet {
    flex-direction: column;
    gap: 0;
  }

  .main_bullet-title {
    text-align: center;
    font-size: 16px;

    font-weight: 700;
  }

  .main_about {
    flex-direction: column;
    align-items: center;
  }

  .main_about-img {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 60%;
    order: 2;
  }

  .main_title {
    font-size: 36px;
    font-weight: 700px;
    text-align: center;
  }

  .main_paragraph {
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer_text {
    font-size: 10px;
  }

  .footer_link {
    font-size: 10px;
  }
}

@media (max-width: 450px) {
  .header {
    padding-top: 20px;
    box-sizing: border-box;
    height: 460px;
  }

  .header_heading {
    font-size: 44px;
    font-weight: 700;
  }

  .header_button {
    margin-top: 20px;
  }

  .grid_card-button {
    font-size: 14px;
    width: 109px;
    height: 31px;
  }
  .main {
    padding-top: 0;
  }
  .main_bullet-img {
    max-width: 67px;
    height: auto;
  }

  .main_bullets {
    margin-top: 50px;
    margin-bottom: -50px;
  }

  .main_bullet-title {
    font-size: 16px;
  }

  .main_paragraph {
    text-align: center;
  }

  .footer_icon {
    max-width: 70px;
    height: auto;
  }

  .header_hero-img {
    display: block;
    max-width: 80%;
    margin-right: 10%;
  }

  .header_paragraph {
    margin-bottom: 0;
  }

  .header_button {
    max-width: 163px;
    height: 47px;
  }

  .header_wrapper {
    overflow: hidden;
  }

  .header_menu {
    margin-bottom: 40px;
  }

  .header_heading {
    margin-bottom: 0;
  }

  .header_paragraph {
    margin-bottom: 10px;
  }

  .tak_paragraph {
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
  }

  .footer {
    padding: 10px;
  }
}
